.App{
    position: relative;
    width: 100%;
    min-width: 1280px;
    height: 100vh;
    min-height: 720px;
    overflow-x: hidden;
    *:focus{ outline: none; }
    .main_window{
        width: 100%;
        height: 100%;
        #map{
            width: 100%;
            height: 100%;
        }
    }
    .drone{
        background-image: url(./img/drone.png);
        width: 65px;
        height: 65px;
        background-size: 100%;
        display: block;
        border: none;
    }
    .marker_index{
        position: absolute;
        top: 4px;
        left: 3.4px;
        background-color: whitesmoke;
        width: 20px;
        height: 20px;
        text-align: center;
        border-radius: 10px;
        font-weight: 700;
    }
}